	body {
		background-image: url("back1.png");			
	}
	.parent {
		width: 100px;
		height:100px;
 		background-color:white;
		position:fixed;
		border-radius: 50%;
		border: 5px solid;
		cursor: crosshair;
   
	}
	.child {
		width: 50px;
		height:50px;
		border-radius: 50%;
		border: 5px solid;
		transform: translate(32%, 32%);
	}

	.box {
		padding: 20px;
		border: 3px solid;
		border-radius: 4px;
		width : 200px;
		background: white;
		opacity: 0.8;
		position: absolute;
		top:50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	p {
		font-size: 18px;
		text-align: center;
	}
	button {
		display: block;
    	margin: 0 auto;
    	padding: 10px;
    	border: 1px solid
    	font-size: 14px;
    	color: #000;
	}
